
<div class="container-fluid container-fluid-custom">
    <h1>About NoteScribe World</h1>
    <p>This note-making app was built using Node.js and Express, two powerful technologies for building web applications.</p>
    <p> Node.js is a server-side JavaScript runtime that allows developers to build scalable and high-performance web applications.</p>
    <p> Express is a minimalist and flexible web framework for Node.js that makes it easy to build web applications and APIs.</p>
    <p>Passport.js was used for authentication and OAuth integration. Passport is a popular authentication middleware for Node.js that supports a wide range of authentication strategies, including local authentication and OAuth. In this app, OAuth was used to allow users to log in using their Google accounts.</p>
    <p>Bootstrap was used for styling the app. Bootstrap is a popular front-end framework that provides a wide range of pre-built components and utilities for building responsive and mobile-first web applications.</p>
         
        <div class="note note-container">
          <p class="typewriter">Write a Note</p>
        </div>
        
</div>