<div class="container-fluid container-fluid-custom py-md mb-5">
    <main>
        <div class="row py-md text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative">
                    Page Not Found
                </h1>
                <p class="fs-4 mb-4">
                    NoteScribe is a Easy NoteTaking app using NOdeJS
    
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Try NoteScribe</a>
            </div>
        </div>
    </main>
    </div>